# Ignore virtual environments
my-venv-upscale/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/
logs-WGAN/
old-logs/

# Ignore model checkpoints (if large)
checkpoints/
src/ProGAN/checkpoints

# Ignore dataset (if too large or available elsewhere)
dataset/

#misc
leftover/
*:Zone.Identifier